/* STYLES GLOBAL CONFIGURATION */
:root {
  --primary-font: Quicksand, sans-serif;
  --code-font: Source Code Pro, monospace;
  --accent-color: #e0f;
  --dialog-background-color: #eee;

  --content-margin: 1rem;
  --dialog-width: 26rem;
  --nav-height: 3rem;
  --max-content-width: 45rem;

  /* BREAKPOINT ROOT SIZES */
  --root-size-mobile: 14px;
  --root-size-desktop: 16px;
  --root-size-desktop-large: 18px;
}

@media (--light) {
  :root {
    --text-color: #444;
    --text-color-highlight: #000;
    --background-color: #eee;
    --background-color-callout: #ddd;
  }
}

@media (--dark) {
  :root {
    --text-color: #bbb;
    --text-color-highlight: #fff;
    --background-color: #222;
    --background-color-callout: #333;
  }
}

@media (--res-mobile) {
  html {
    font-size: var(--root-size-mobile);
  }
}

@media (--res-desktop) {
  html {
    font-size: var(--root-size-desktop);
  }
}

@media (--res-desktop-large) {
  html {
    font-size: var(--root-size-desktop-large);
  }
}

@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 300 700;
  font-display: swap;
  src: url('@/assets/fonts/Quicksand-Variable.woff2') format('woff2 supports variations'),
       url('@/assets/fonts/Quicksand-Variable.woff2') format('woff2-variations'),
       url('@/assets/fonts/Quicksand-Regular.woff2') format('woff2'),
       url('@/assets/fonts/Quicksand-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 200 900;
  font-display: swap;
  src: url('@/assets/fonts/SourceCodePro-Variable.woff2') format('woff2 supports variations'),
       url('@/assets/fonts/SourceCodePro-Variable.woff2') format('woff2-variations'),
       url('@/assets/fonts/SourceCodePro-Regular.woff2') format('woff2'),
       url('@/assets/fonts/SourceCodePro-Regular.ttf') format('truetype');
}

/* DOCUMENT STYLES */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  color: var(--text-color);
  background-color: var(--background-color);
  font-family: var(--primary-font);
  box-sizing: border-box;

  /* animate dark/light transition */
  transition: color .3s linear, background-color .3s linear;
}

main {
  position: relative;
  max-width: var(--max-content-width);
  padding: 0 var(--content-margin);
  margin: auto;
  padding-top: 2rem;

  /* border: 1px solid yellow; */
}

body {
  padding: 0;
  margin: 0;

  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.06rem;
  line-height: 2rem;
}

p {
  padding-bottom: 1rem;
}

h1 {
  color: var(--text-color-highlight);
  font-weight: 600;
  font-size: 1.2rem;
  letter-spacing: 0.12rem;
  text-transform: uppercase;
  line-height: 1.6rem;
  margin-bottom: 1rem;
}

h2 {
  color: var(--text-color-highlight);
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.12rem;
  line-height: 1.6rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

h3 {
  color: var(--text-color-highlight);
  font-size: .9rem;
  font-weight: 400;
  letter-spacing: 0.16rem;
  line-height: 2rem;
}

h4 {
  color: var(--text-color-highlight);
  font-size: .8rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

/* BEGIN link styling */
a, a:visited {
  color: var(--text-color-highlight);
  cursor: pointer;

  font-size: 1em;
  font-weight: 600;
  position: relative;
}

a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: -.3rem;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background-color: var(--accent-color);
  transition: width 0.2s ease 0s, left 0.2s ease 0s;
  width: 0;
}

@media (--hover) {
  a, a:visited {
    text-decoration: none;
  }

  a:hover:after {
    width: 100%;
    left: 0;
  }
}
/* END link styling */

img, picture {
  width: 100%;
}

ul {
  list-style: none;
  margin-bottom: 1rem;
}

li {
  margin-bottom: 0.4rem;
}

ul > li::before {
  content: "•";
  display: inline-block;
  width: 1.2em;
}

/* Code styling */
pre {
  background-color: var(--background-color-callout);

  font-weight: 600;
  padding: .8rem;
  white-space: pre-wrap;
  letter-spacing: .04rem;
  line-height: 1.2rem;
  font-size: .7rem;
  margin-bottom: 1rem;
  transition: color .3s linear, background-color .3s linear;
  border-radius: .2rem;
  border-left: 1px solid var(--accent-color);
}

pre > code {
  font-family: var(--code-font);
}
