.non-breaking-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.selectable {
  user-select: auto;
  -webkit-user-select: auto;
  cursor: auto;
}

.non-selectable {
  user-select: none;
  -webkit-user-select: none;
  cursor: default;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.hidden {
  visibility: hidden;
}

.full-page {
  position: relative;
  display: grid;

  width: 100%;
  min-height: 100vh;
}
