@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 200 900;
  font-display: swap;
  src: url('@/assets/fonts/Cairo-Variable.woff2') format('woff2 supports variations'),
       url('@/assets/fonts/Cairo-Variable.woff2') format('woff2-variations'),
       url('@/assets/fonts/Cairo-Regular.woff2') format('woff2'),
       url('@/assets/fonts/Cairo-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
  src: url('@/assets/fonts/Oswald-Variable.woff2') format('woff2 supports variations'),
       url('@/assets/fonts/Oswald-Variable.woff2') format('woff2-variations'),
       url('@/assets/fonts/Oswald-Regular.woff2') format('woff2'),
       url('@/assets/fonts/Oswald-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 200 900;
  font-display: swap;
  src: url('@/assets/fonts/SourceCodePro-Variable.woff2') format('woff2 supports variations'),
       url('@/assets/fonts/SourceCodePro-Variable.woff2') format('woff2-variations'),
       url('@/assets/fonts/SourceCodePro-Regular.woff2') format('woff2'),
       url('@/assets/fonts/SourceCodePro-Regular.ttf') format('truetype');
}

:root {
  --primary-font: Cairo, sans-serif;
  --secondary-font: Oswald, sans-serif;
  --code-font: Source Code Pro, monospace;
}
